*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}
 
  .typedemo body{
	background: navajowhite;
	background-size: cover;
	font-family: 'Trebuchet MS', sans-serif; 
  }
  .container3{
	display: inline-block;
  }
  .typed-out{
	overflow: hidden;
	border-right: .15em solid orange;
	white-space: nowrap;
	animation: 
	  typing 3.5s forwards;
	font-size: 1.6rem;
	width: 0;
  }
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
	
  }
  
  .item{
	font-family: 'Times New Roman', Times, serif;
  }
 
body{
	
	background: linear-gradient(to right, #e3f2f1, #bfd4d3);
}

.wrapper{
	margin: 0 10px;
}

.wrapper_inner{
	position: relative;
	max-width: 1250px;
	width: 100%;
	height: 700px;
	background: #fff;
	margin: 30px auto;
	border-radius: 25px;
	display: flex;
}

.vertical_wrap{
	position: relative;
	height: 100%;
}

.vertical_bar{
	width: 250px;
	background: #3d5654;
	height: 100%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	position: relative;
}

.vertical_bar .profile_info{
	text-align: center;
	padding: 50px 25px;
}

.vertical_bar .profile_info img{
	width: 75px;
}

.vertical_bar .profile_info .title{
	font-size: 20px;
	letter-spacing: 2px;
	color: #c99c33;
	font-weight: 700;
}

.vertical_bar .profile_info .sub_title{
	font-size: 14px;
	color: #fff;
}

.vertical_bar .menu{
	padding-left: 25px;
}

.vertical_bar .menu li a{
	display: block;
	padding: 15px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	margin-bottom: 1px;
}

.vertical_bar .menu li a .icon{
	color: #c99c33;
	width: 25px;
    display: inline-block;
}

.vertical_bar .menu li a:hover,
.vertical_bar .menu li a.active{
	background: #fff;
	color: green;
}

.vertical_bar .social{
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 50px;
}

.vertical_bar .social li a{
	width: 50px;
	height: 50px;
	color: #fff;
	border: 1px solid #fff;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin: 0 10px;
}

.vertical_bar .social li a:hover{
	color: #c99c33;
	background: #fff;
}

.main_container{
	width: calc(100% - 250px);
}

.main_container .top_bar{
	height: 60px;
	background: #425c5a;
	border-top-right-radius: 25px;
	padding: 15px 25px;
	display: flex;
	align-items: center;
}

.top_bar .hamburger{
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	display: none;
	margin-right: 25px;
}

.top_bar .logo{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #c99c33;
}

.top_bar .logo span{
	color: #fff;
}

.main_container .container{
	padding: 25px;
	height: calc(100% - 60px);
	overflow: auto;
}

.main_container .container .item{
	background: #e3f2f1;
	padding: 50px;
	margin-bottom: 25px;
}



@media (max-width: 768px){
	.top_bar .hamburger{
		display: inline-block;
	}
	.vertical_wrap{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		visibility: hidden;
	}
	.vertical_bar{
		position: absolute;
		top: 0;
		left: -100%; 
		transition: left 0.2s linear;
	}
	.vertical_wrap .backdrop{
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 25px;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	.main_container{
		width: 100%;
	}
	.main_container .top_bar{
		border-top-left-radius: 25px;
	}
	.wrapper.active .vertical_wrap{
		visibility: visible;
	}
	.wrapper.active .vertical_bar{
		left: 0;
		transition: left 0.2s linear;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    background: #08090c;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}
.container .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #06070a;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 70%;
    animation-delay: 0.1s;
}
.skill-per.javascript{
    width: 50%;
    animation-delay: 0.2s;
}
.skill-per.nodejs{
    width: 30%;
    animation-delay: 0.3s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #08090a;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #0a0ac;
    transform: translateX(-50%) rotate(45deg);

}
